<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yr.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.yr.pojo.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    </resultMap>

    <!--动态sql语句，set 标签消除多余的 “ , ”-->
    <update id="update" parameterType="com.yr.pojo.User">
        update user
        <set>
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="password !=null and password != ''">
                password=#{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname=#{nickname}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <!--动态sql 使用 if 标签 添加判定条件
    根据 参数是否为 null 改变 sql 语句
    通过 where 标签解决 and 关键字的问题（即当第一个参数为 null 时）
    where 标签可自动清除多余的 and
    只可处理前置的 and
   password=#{password}  and
   这种情况下无法处理后置的 and
    -->
    <!--多个判断条件时，if 语句的书写如下
    1.参数为 null 时不处理
    2.参数为 “” 空字符串时不处理
    -->
    <select id="finduser" resultType="com.yr.pojo.User">
        select * from user
        <where>
            <if test="password != null and password != ''">
                and password=#{password}
            </if>
            <if test="nickname != null">
                and nickname=#{nickname}
            </if>
        </where>
    </select>

    <!-- choose 标签，选择要执行的sql 语句，与 switch 类似-->
    <select id="finduser01" resultType="com.yr.pojo.User" parameterType="com.yr.pojo.User">
        select * from user
        <where>
            <choose>
                <when test="username != null">
                    and username=#{username}
                </when>
                <when test="password != null">
                    and password =#{password}
                </when>
                <otherwise>
                    and nickname=#{nickname}
                </otherwise>
            </choose>
        </where>
    </select>


</mapper>